<div class="footer">
    <div class="page-container footer-container">
        <div class="footer-cities">
            <div class="footer-city">
                <a href="/pg/delhi">PG in Delhi</a>
            </div>
            <div class="footer-city">
                <a href="/pg/mumbai">PG in Mumbai</a>
            </div>
            <div class="footer-city">
                <a href="/pg/bangalore">PG in Bangalore</a>
            </div>
            <div class="footer-city">
                <a href="/pg/hyderabad">PG in Hyderabad</a>
            </div>
        </div>
        <div class="footer-copyright">© 2020 Copyright PG Life </div>
    </div>
</div>

<!-- <style>
    /* .footer{
        position: sticky;
        bottom: 0px;
        left: 0px;
        right: 0px;
    } */
</style> -->
